# React
node_modules/
build/
dist/

# Environment
.env

# Logs
*.log

# IDEs & Editors
.vscode/
.idea/

# Eclipse / Spring Tool Suite (STS)
.metadata/
**/ .metadata/
RemoteSystemsTempFiles/
*.STS_VERSION
.classpath
.factorypath
.project
.settings/

# Maven build output
target/

# Mac
.DS_Store
