# React
node_modules/
build/
dist/

# Environment
.env

# Logs
*.log

# IDEs & Editors
.vscode/
.idea/

# Eclipse / Spring Tool Suite (STS)
.metadata/
**/ .metadata/
RemoteSystemsTempFiles/
*.STS_VERSION

# Mac
.DS_Store